.share-box p {
    margin: 0;
}

.share-box .fa {
    box-shadow: 0 0 1px #777;
    padding: 5px 12px;  
}
.share-box .fa:hover {
    box-shadow: 0 0 4px #777;
}


.share-box .fa-facebook-official {
    color: #3b5998;
}
.share-box .fa-facebook-official:hover {
    background-color: #3b5998;
    color:white;
}

.share-box .fa-google-plus {
    color: #d34836;
}
.share-box .fa-google-plus:hover {
    background-color: #d34836;
    color: white;
}

.share-box .fa-linkedin {
    color: #0077b5;
}
.share-box .fa-linkedin:hover {
    background-color: #0077b5;
    color: white;
}

.share-box .fa-envelop {
    color: #444444;
}
.share-box .fa-envelope:hover {
    background-color: #444444;
    color: white;
}


.share-box .fa-reddit {
    color: #ff5700;
}
.share-box .fa-reddit:hover {
    background-color: #ff5700;
    color: white;
}


.share-box .fa-twitter {
    color: #4099FF;
}
.share-box .fa-twitter:hover {
    background-color: #4099FF;
    color: white;
}

